@import "../../../scss/index.scss";

.admin-sider {
  position: fixed;
  left: 0;
  top: 41px;
  height: 100vh;
  z-index: 1;
  //overflow: auto;
  background: transparent;
    
  
  &__menu{
    //background-color: transparent;
    color: red !important;
    span{
      color: black;
      &:hover{
        color: blue;
      }
    }
  
    
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 0px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100vh;
  }

}



.ant-layout-sider-zero-width{
  top: 0px;
}


.ant-layout-sider-zero-width-trigger:hover::after{
 background-color: transparent !important;
 
}

