@import "../../../scss/index.scss";

.menu-top-web {
  position: sticky;
  width: 100%;
  background-color: $background-dark-web;
  border-radius: 5px;
  border-color: transparent;
  display: flex;
  background-color: $segundo !important;
  
  li {
    border: 0 !important;

    a {
      
      font-weight: bold;

      &:hover {
        color: $primary-color !important;
      }
    }
  }

  &__col{
    
    align-items: center !important;
    justify-content: end;
  }

  &__logo {
   
    padding-right: 0px !important;
    display: block;
    
    img {
      width: 109px;
      height: 40px;
      margin: 3px !important;
      
      //margin: 8px !important; 
      border-radius: 5px !important;

    }
   
    
  }
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  
}