.menu{
    top: 5px;
    width: 80%;
    position: fixed;
    z-index: 1 !important;
    align-items: center !important;
    align-self: center !important ;
    align-content: center !important;
   
    
}